<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>radar1</string>
	<string>radar2</string>
	<string>radar3</string>
	<string>radar4</string>
	<string>radar1</string>
	<string>radar2</string>
	<string>radar3</string>
	<string>radar4</string>
</array>
</plist>
